.dark .shiki,
.dark .shiki span {
  color: var(--s-dark, inherit);
  --twoslash-popup-bg: #151515;
  --twoslash-border-color: #8884;
}
.dark .shiki {
  /* background-color: #0e0e0e; */
  background-color: #151515;
}

html:not(.dark) .shiki {
  background-color: #f6f6f6;
}

html:not(.dark) .shiki,
html:not(.dark) .shiki span {
  color: var(--s-light, inherit);
  --twoslash-popup-bg: #f6f6f6;
}

.twoslash ul {
  font-size: 1em !important;
}

.twoslash ul > li::before {
  display: none;
}

.twoslash ul > li {
  padding: 1px;
  margin: 0;
}

.twoslash-query-presisted .twoslash-popup-info {
  transform: translate(0, 1.6em);
}

html.dark .prose {
  --fg-light: #888;
  --fg: #bbb;
  --fg-deep: #ddd;
  --fg-deeper: #fff;
}

a.item {
  transition: 0.2s all ease-out !important;
  text-decoration: none;
  border-bottom: none !important;
  opacity: 0.6;
}

a.item:hover {
  opacity: 1;
}

a.header-anchor {
  float: left;
  margin-top: 0.125em;
  margin-left: -1.2em;
  padding-right: 0.5em;
  font-size: 0.85em;
  opacity: 0;
  text-decoration: none;
  border: 0 !important;
}

a.header-anchor:hover,
a.header-anchor:focus {
  text-decoration: none;
}

h1:hover .header-anchor,
h1:focus .header-anchor,
h2:hover .header-anchor,
h2:focus .header-anchor,
h3:hover .header-anchor,
h3:focus .header-anchor,
h4:hover .header-anchor,
h4:focus .header-anchor,
h5:hover .header-anchor,
h5:focus .header-anchor,
h6:hover .header-anchor,
h6:focus .header-anchor {
  opacity: 0.5;
}

/* table of contents */
.table-of-contents {
  position: fixed;
  top: 10em;
  /* bottom: 0; */
  max-height: calc(100vh - 18em);
  font-size: 1em;
  right: 2.5em;
  z-index: 200;
  overflow-y: auto;
  /* lg 及以下隐藏，xl 及以上显示 */
  --uno: hidden xl: flex flex-col xl: w-300px;
}
.table-of-contents > ul {
  text-overflow: ellipsis;
  height: 100%;
  overflow-y: auto;
  --uno: rounded pb-5 transition duration-700;
}
.table-of-contents ul {
  margin-top: 0 !important;
  margin-bottom: 0.4em !important;
}
.table-of-contents ul > li::before {
  display: none;
}
.table-of-contents ul > li {
  padding-left: 0.8rem;
  line-height: 1.4em;
  margin-top: 0.4em;
  margin-bottom: 0;
  padding-left: 1.8em !important;
}
.table-of-contents ul > li > a {
  --uno: op60 hover-op100 transition duration-300 ease;
}
.table-of-contents ul > li > a.active {
  /* border-bottom: 1px solid var(--fg); */
  --uno: op100 font-bold;
}

.code-wrap .line {
  white-space: break-spaces;
}

/* magic link */
.markdown-magic-link {
  display: inline-flex;
  align-items: center;
  background: #8882;
  transform: translateY(3px);
  line-height: 100%;
  color: var(--fg-light) !important;
  --uno: gap-1 transition rounded px1.5 py1 important-border-0 important-font-bold font-serif;
}
.markdown-magic-link:hover {
  background: #8883;
  color: var(--fg) !important;
}
.markdown-magic-link-image {
  display: inline-block;
  height: 1.1em;
  width: 1.1em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2px;
}
.markdown-magic-link.markdown-magic-link-github-at {
  transform: translateY(6px);
  --uno: pl0 py0 pr2 ml0.5 text-sm gap-1.2 rounded-full;
}
.markdown-magic-link.markdown-magic-link-github-at .markdown-magic-link-image {
  height: 1.6em;
  width: 1.6em;
  border-radius: 50%;
}

/* copy code */
.markdown-copy-code-button {
  --uno: transition duration-200 ease-in-out z-99;
}
